#home2 .home2 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding-top: 6px;
    padding-bottom: 74px;
    margin-left: 6rem;
    margin-right: 6rem;
}

.blue-color {
    color: #5c10ff;
}

.color-home2 {
    color: #2b1c5b;
}

.pt-30 {
    padding-top: 30px !important;
}

.mt-12 {
    margin-top: -12px;
}

@media (max-width: 1199px) and (min-width: 992px) {
    #home2 .fs-5 {
        font-size: 14px !important;
    }

    #home2 .double {
        position: absolute;
        top: 0;
        right: 33%;
    }

    #home2 .home2 {
        padding-top: 27px !important;
        padding-bottom: 50px !important;
    }

    #home2 .mt-12 {
        margin-top: -7px;
    }

    #home2 .pt-45 {
        padding-top: 45px !important;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    #home2 .fs-1 {
        font-size: 21px !important;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    #home2 .fs-1 {
        font-size: 17px !important;
    }

    #home2 .fs-5 {
        font-size: 1rem !important;
    }

    #home2 .double {
        margin-top: 1.5rem !important;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    #home2 .fs-1 {
        font-size: 21px !important;
    }
}

@media (max-width: 575px) {
    #home2 .fs-1 {
        font-size: 14px !important;
    }

    #home2 p {
        margin-bottom: 0 !important;
        margin-top: 4px !important;
        font-size: 15px !important;
    }

    #home2 .home2 {
        padding-top: 6px !important;
        padding-bottom: 74px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        height: 120px;
    }
}
