#home.header-padding {
    padding-top: 9rem;
    padding-bottom: 50rem;
}

#home .instamedia {
    font-size: 55px;
}

#home .header-text {
    left: 21%;
    top: 40%;
}

#home .circle {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 9rem;
}

@media (max-width: 1199px) and (min-width: 992px) {
    #home .w-lg-100 {
        width: 100px;
    }

    #home .fs-lg-40 {
        font-size: 40px !important;
    }

    #home .fs-lg-16 {
        font-size: 16px !important;
    }

    #home .w-image {
        width: 70% !important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #home.header-padding {
        padding-top: 6rem;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    #home.header-padding {
        padding-top: 5rem;
    }

    #home .header-text {
        left: 26%;
    }

    #home .w-image {
        width: 65% !important;
    }
}

@media (max-width: 575px) {
    #home .w-image {
        width: 60% !important;
    }

    #home.header-padding {
        padding-top: 4rem;
    }

    #home .w-lg-100 {
        width: 100px;
    }

    #home .fs-lg-40 {
        font-size: 35px !important;
    }

    #home .fs-lg-16 {
        font-size: 16px !important;
    }
}
