#footer img {
    width: 50px;
}

@media (max-width: 991px) and (min-width: 768px) {
    #footer .fs-md-25 {
        font-size: 25px !important;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    #footer .fs-md-25 {
        font-size: 20px !important;
    }

    #footer img {
        width: 40px;
    }
}

@media (max-width: 575px) {
    #footer .fs-md-25 {
        font-size: 15px !important;
    }

    #footer img {
        width: 35px;
    }
}
