#case.bg-white {
    width: 100%;
    border-radius: 5rem;
    margin-top: -50rem;
    box-shadow: 0px 4px 20px 10px #7d7ddd52;
}

#case .bg-left,
#case .bg-right {
    border-radius: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#case .line::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 75%;
    height: 4px;
    background: #fff;
}

#case .case {
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 36px;
    padding-bottom: 5px;
}

@media (max-width: 767px) and (min-width: 576px) {
    #case .fs-md-20 {
        font-size: 20px !important;
    }
}

@media (max-width: 575px) {
    #case .fs-md-20 {
        font-size: 18px !important;
    }
}
